 
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
    <title>测试php+js调用cmd命令行</title>
    </head>
     
    <body>
        {% comment %} 仅ie浏览器可用 {% endcomment %}
         <a href="#" onclick="win_run(); return false;">调用cmd</a>
         
    </body>
     
    <script type="text/javascript">
        function win_run(){	
        var cmd=new ActiveXObject("WScript.Shell");
        cmd.run("cmd.exe /k d: && python D:/Desktop/yolov5-7.0/detect.py --weights yolov5s.pt --source http://admin:admin@192.168.127.245:8081 && activate py35 && python pr.py > result.txt");//百度搜索cmd多命令行一起写
        cmd=null;
         window.setTimeout('window.close();',3000);
        }
    </script>


    </html>
    